@model IEnumerable<LiveTrafficProject.Models.Properties>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
  <form method = "get" asp-action="Index" name ="eerste">
    <input  class="form-control me-2" type="text" id ="traffic" placeholder="Traffic" aria-label="Traffic" name="traffic" value = "Traffic">
    <button name="button"  value="trafficBtn"  id ="traffic"  class="btn btn-outline-success"  type="submit" >Search</button>
    </form>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IconCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MagnitudeOfDelay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.From)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.To)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Length)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Delay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeValidity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
         @if (ViewBag.traffic != null)
        {
            @foreach (var item in ViewBag.traffic.incidents)

                {
                    <tr>
                            <td>
                           @switch( @item.properties.IconCategory)
                    {
                        case 0:
                            <p>Unknow</p>
                            break;
                        case 1:
                           <p>Accident</p>
                            break;
                        case 2:
                           <p>Fog</p>
                            break;
                        case 3:
                           <p>DangerousConditions</p>
                            break;
                        case 4:
                           <p>Rain</p>
                            break;
                        case 5:
                           <p>Ice</p>
                            break;
                        case 6:
                           <p>Jam</p>
                            break;
                        case 7:
                           <p>LaneClosed</p>
                            break;
                        case 8:
                           <p>Roadclosed</p>
                            break;
                        case 9:
                           <p>RoadWorks</p>
                            break;
                        case 10:
                           <p>Wind</p>
                            break;
                        case 11:
                           <p>Flooding</p>
                            break;
                        case 14:
                           <p>BrokenDownVehicle</p>
                            break;
                    }
                           
                            </td>
                            <td>
                            @item.properties.MagnitudeOfDelay
                            
                            </td>
                            <td>
                            @item.properties.StartTime
                            
                            </td>
                            <td>
                            @item.properties.EndTime
                            
                            </td>
                            <td>
                            @item.properties.From
                           </td>
                           <td>
                            @item.properties.To
                            
                            </td>
                            <td>
                            @item.properties.Length
                            
                            </td>
                            <td>
                            @item.properties.Delay
                            
                            </td>
                            <td>
                            @item.properties.TimeValidity
                            
                            </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            }
    </tbody>
</table>
