@model IEnumerable<LiveTrafficProject.Models.Event>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
  <form method = "get" asp-action="Index" name ="eerste">
    <input  class="form-control me-2" type="text" id ="traffic1" placeholder="Traffic" aria-label="Traffic" name="traffic1" value = "Traffic">
    <button name="button"  value="trafficBtn"  id ="traffic1"  class="btn btn-outline-success"  type="submit" >Search</button>
    </form>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
       @if (ViewBag.traffic1 != null)
        {
            @foreach (var item in ViewBag.traffic1.events)
                    //traffic = info.incidents[0].properties.Events[0].Description

            {
                <tr>
                    <td>
                            @item.Code

                    </td>
                    <td>
                            @item.Description

                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
